Modules/Pandas/data.csv
Modules/Pandas/demo.json
Modules/Pandas/datacleaningdemo.csv
Modules/PyQt/download.png
Modules/PyQt/download1.jpg
Modules/PyQt/darkpad.rar
Modules/PyQt/ClassScript/ClassScript.rar
Modules/PyQt/ClassScript/ClassScript/ClassScriptGui.exe
Modules/PyQt/ClassScript/ClassScript/chromedriver.exe
Modules/PyQt/darkpad/darkpad.exe
Modules/PyQt/Ashuexe/ashuexe.py
Modules/PyQt/Ashuexe/dist/ashuexe.exe
Modules/PyQt/Ashuexe/dist/def.jpg
Modules/PyQt/Ashuexe/dist/icon.png
Modules/PyQt/Ashuexe/dist/pp.jpg
Stdlib/basics/icon.png
Modules/PyQt/ClassScript/dist/classguiashu1.exe
Modules/PyQt/ClassScript/dist/Myclass.exe
Modules/PyQt/ClassScript/dist/MyPClass.exe
.gitignore
.gitignore
Modules/PyQt/darkpad/dist/darkpad.exe
Modules/PyQt/chessgame/unfairchessoffline/unfairchessoffline.exe
Modules/PyQt/Ashuexe/ashuexe2/Ashuexe2.exe
Modules/Pytorch/FashionModel.pth
